<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | Social Media App
  </title>
</head>

<body>
  <header>
    <header-app></header-app>
  </header>

  <main>
    <main-app>
      <div class='row justify-content-md-center'>
        <story-form></story-form>
      </div>
    </main-app>
    <floating-home></floating-home>
  </main>

  <footer>
    <footer-app></footer-app>
  </footer>
</body>

</html>