@use '../variables' as var;

html:not([data-scroll='0']) {
    floating-home {
        display: block;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: var.$main-color;
    min-height: 100vh;
}

main-app {
    margin-block: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header-app {
    background-color: var.$dark-color;

    .app-logo {
        height: 50px;
    }
}

footer {
    margin-top: auto;

    footer-app {
        background-color: var.$part-color;
        display: block;
        padding: 2.5em;
        text-align: center;
        margin: 0;
    }
}

card-list {
    padding: 0 !important;
}

floating-home {
    display: none;
    text-align: center;
    font-size: 2em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;

    .rounded-circle {
        background-color: var.$part-color;
        width: 50px;
        height: 50px;
    }

    a {
        color: var.$dark-color;

        &:hover,
        &:active {
            color: var.$main-color;
        }
    }
}

.btn-general {
    padding-inline: 1em;
    background-color: var.$part-color;
    font-weight: bold;
    color: var.$dark-color;
    border-radius: 20px;

    &:focus {
        background-color: var.$part-color;
    }

    &:hover, &:active {
        background-color: var.$dark-color !important;
        color: var.$part-color !important;
    }

    &:disabled {
        background-color: var.$part-color !important;
        border: none !important;
    }
}

input-validation {
    input {
        border-radius: 20px;
        transition: 1s ease;
    }
    
    label {
        transition: 1s ease;
    }
}